//App colors
$primary-color: #ff6b6b;
$secondary-color: #f9f9f9;
$text-secondary: #999999;
$text-primary: #363636;
$blue: #33658a;
$cyan: #90ffdc;
$brown: #efc88b;
$page-bg: #f4f4f4;
$maroon: #8e4162;
